*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Header navigation */
header {
  width: 100%;
  position: relative;
}

/* Work section */
.card div {
  flex-basis: 55%;
  background: #ebf0ee;
}

.card h1 {
  width: 295px;
  margin: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  color: #3a4a42;
  text-align: center;
}
